.practiseWrapper {
  background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/3629861/images/bg.jpg);
  background-position: 50% 50%;
}


.practisePara {
  text-align: center;
  font-size: 48px;
  padding: 20px 0px;
}

.practiseCardWrapper {
  display: inline-block;
  padding-bottom: 30px;
}

.sampleText {
  text-align: center;
}

.moreWrap {
  margin: 0 auto;
  display: flex;
}

.hataimage {
  padding: 20px;
  width: 200px;
}

.hatha {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.practiseCardWrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 40px;
}

.practiseCard {
  background-color: white;
  padding: 10px;
}

.freecpick {
  text-align: center;
  padding: 30px;
  margin: 0;
}


